a {
    color: white;
    text-decoration: none;
    font-family: 'Nanum Gothic';
}

h1,
h2,
p {
   font-family: 'Nanum Gothic'; 
   color: white;
}

body {
    background-color: #141414;
}

header {
    background-color: #141414;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

header .contain-init {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
}

header .contain-init .contain-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 4rem;
    padding: 0.5rem;
}

header .contain-init .contain-logo img {
    height: 100%;
    width: 100%;
}

header .contain-init .list-init {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

header .contain-init .list-init a {
    font-size: 0.5rem;
}

header .contain-init .list-init #popular,
header .contain-init .list-init #list,
header .contain-init .list-init #idiom {
    display: none;
}

header .contain-profile {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.5rem;
}

.contain-recommended {
    background-image: url('../images/manifiesto.jpg');
    background-size: cover;
    padding-top: 3rem;
    height: 15rem;
    width: 100%;
    position: relative;
}

.contain-recommended .description-recommended {
    width: 60%;
    position: absolute;
    bottom: 30%;
    left: 5%;
}

.contain-recommended .description-recommended .type-recommended {
    display: none;
}

.contain-recommended .description-recommended .information-recommended {
    display: flex;
    flex-direction: column;
}

.contain-recommended .description-recommended .information-recommended #title-recommended {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.contain-recommended .description-recommended .information-recommended p {
    font-size: 0.5rem;
}

.contain-recommended .description-recommended .contain-buttonsRecommended {
    display: flex;
    justify-content: space-around;
}

.contain-recommended .description-recommended .contain-buttonsRecommended button{
    height: 1.5rem;
    margin: 0 5px;
    font-size: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.739);
    color: white;
    font-weight: 900;
    font-family: 'Nanum Gothic';
}

.contain-recommended .information-recommended h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {

    header .contain-init {
        width: 60%;
    }

    header .contain-init .contain-logo {
        width: 6rem;
    }

    header .contain-init .list-init {
        width: 80%;
    }

    header .contain-init .list-init a {
        font-size: 0.7rem;
    }

    header .contain-init .list-init #popular,
    header .contain-init .list-init #list {
        display: block;
    }

    header .contain-profile {
        font-size: 0.7rem;
    }

    .contain-recommended {
        height: 22rem;
    }

    .contain-recommended .description-recommended {
        width: 35%;
    }

    .contain-recommended .description-recommended .type-recommended {
        display: flex;
        align-items: center;
    }

    .contain-recommended .description-recommended .type-recommended img {
        width: 0.5rem;
        height: 1rem;
    }

    .contain-recommended .description-recommended .type-recommended img,
    .contain-recommended .description-recommended .type-recommended h2 {
        margin-left: 5px;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-weight: 900;
        font-size: 0.5rem;
    }

    .contain-recommended .description-recommended .contain-buttonsRecommended button {
        font-size: 0.9rem;
    }

}