a {
    color: white;
    text-decoration: none;
    font-family: 'Nanum Gothic';
}

h1,
h2,
p {
   font-family: 'Nanum Gothic'; 
   color: white;
}

body {
    background-color: #141414;
}

header {
    background-color: #141414;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

header .contain-init {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    padding-left: 1rem;
}

header .contain-init .contain-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 6rem;
}

header .contain-init .contain-logo img {
    height: 100%;
    width: 100%;
}

header .contain-init .list-init {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

header .contain-profile {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contain-recommended {
    background-image: url('../images/manifiesto.jpg');
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
}

.contain-recommended .description-recommended {
    width: 35%;
    position: absolute;
    top: 120px;
    left: 50px;
}

.contain-recommended .description-recommended .type-recommended {
    display: flex;
    align-items: center;
}

.contain-recommended .description-recommended .type-recommended h2{
    font-weight: bold;
    font-size: 2rem;
}

.contain-recommended .description-recommended .contain-buttonsRecommended button{
    height: 2rem;
    margin: 0 5px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.739);
    color: white;
}

.contain-recommended .description-recommended #title-recommended {
    font-size: 5rem;
    text-transform: uppercase;
}